doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Цитра
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css")
    link(rel='stylesheet' href='css/main.css')
  body
    button.modal-overlay.hide
    .phone-modal.up-hide
      .phone-modal__inner
        .phone-modal__close
          button Закрыть 
          span &#10006;
        .phone-modal__form-block
          .phone-modal__header
            h1 Заказать звонок
            p Отправьте нам свои контакты и мы вам <br> позвоним в течении 15 минут
          form.phone-modal__form
            .phone-modal__form-inner
              .form__field
                input#sname(name="name", type='text' required='')
                label(for='sname') Ваше имя
              .form__field
                input#sphone(name="phone", type='text' required='')
                label(for='sphone') Номер телефона
              .form__field
                input#semail(name="email", type="email" required='')
                label(for='semail') Электронная почта
              .form__field
                button(type='submit').btn-green Отправить
                span Отправляя данные я даю согласие на их обработку
        .phone-modal__success.hide
          img(src="assets/images/successful.svg", alt="")
          p Благодарим! <br> Ваша заявка успешно <br> отправлена
    .safety-modal.opacity-hide
      .safety-modal__inner
        .safety-modal__close
          button Закрыть 
          span &#10006;
        .safety-modal__header
          h2 Анализ защищенности<br> web-приложений<br> и сервисов
          .safety-modal__header-p
            p Анализ защищенности web-приложений — независимая оценка безопасности web-приложения, которая позволяет получить полную информацию о найденных уязвимостях, возможных сценариях атак и рекомендации по их устранению.
            p Анализ защищенности web-приложений необходим на каждой стадии жизненного цикла (определение требований, проектирование, разработка, внедрение, поддержка)
            p При выполнении анализа защищенности web-приложений мы руководствуемся международной методологией OWASP Testing Guide, которая включает практику по проведению тестирования на проникновение web приложений.
        .safety-modal__vulns
          h2 Самые <span>опасные уязвимости</span><br> web приложений <span>(по версии OWASP)</span>
          .safety-modal__vulns-content
            div
              img(src="assets/images/vulns-1.svg", alt="")
              p Внедрение кода
            div
              img(src="assets/images/vulns-2.svg", alt="")
              p Некорректная <br>аутентификация <br>и управление <br>сессией
            div
              img(src="assets/images/vulns-3.svg", alt="")
              p Межсайтовый <br>скриптинг
            div
              img(src="assets/images/vulns-4.svg", alt="")
              p Нарушение контроля <br>доступа
            div
              img(src="assets/images/vulns-5.svg", alt="")
              p Небезопасная <br>конфигурация
            div
              img(src="assets/images/vulns-6.svg", alt="")
              p Утечка чувствительных <br>данных
            div
              img(src="assets/images/vulns-7.svg", alt="")
              p Недостаточная <br>защита от атак
            div
              img(src="assets/images/vulns-8.svg", alt="")
              p Подделка <br>межсайтовых запросов
            div
              img(src="assets/images/vulns-9.svg", alt="")
              p Использование <br>компонентов с <br>известными <br>уязвимостями
            div
              img(src="assets/images/vulns-10.svg", alt="")
              p Незащищенный API
    .news-modal.opacity-hide
      .news-modal__inner
        .news-modal__header
          .news-modal__date
            span 12 марта 2022
          .news-modal__close
            button Закрыть 
            span &#10006;
        .news-modal__content
          img(src="assets/images/news-modal.jpg", alt="")
          h3 Аналитик указал на падение DOGE вопреки поддержке Илона Маска
          .news-modal__info
            p Мем-коину не помог даже тот факт, что Маск предложил принимать DOGE в качестве оплаты за специальные сервисы Twitter
            p Альткоин DOGE начал неделю с падения на 9,5% до 0,14 за монету. Аналитик Currency.com Ракеш Упадхьяи уверен, что такое снижение вопреки поддержке главного фаната мем-коина — главы Tesla Илона Маска — сигнализирует о том, что его мнение скоро перестанет влиять на цену этой криптовалюты.
    header.header
      .wrapper
        .header__inner
          .logo
            a.logo__link(href='')
              img(src='assets/images/logo.svg' alt='img')
          .menu
            ul.menu__list
              li.menu__item.active
                a.menu__link(href='') О нас
              li.menu__item
                a.menu__link(href='') Услуги
              li.menu__item
                a.menu__link(href='') Лицензии
              li.menu__item
                a.menu__link(href='') Контакты
              li.menu__item_search
                button(type='button')
                  img(src="assets/images/search.svg", alt="").icon.icon-search
                  .search
                    input.search__input(type='text' placeholder='Поиск...')
          .phone
            button.show-phone-modal
              svg(viewBox="0 0 24 24")
                path(d="M19.23 15.26L16.69 14.97C16.08 14.9 15.48 15.11 15.05 15.54L13.21 17.38C10.38 15.94 8.06004 13.63 6.62004 10.79L8.47004 8.94001C8.90004 8.51001 9.11004 7.91001 9.04004 7.30001L8.75004 4.78001C8.63004 3.77001 7.78004 3.01001 6.76004 3.01001H5.03004C3.90004 3.01001 2.96004 3.95001 3.03004 5.08001C3.56004 13.62 10.39 20.44 18.92 20.97C20.05 21.04 20.99 20.1 20.99 18.97V17.24C21 16.23 20.24 15.38 19.23 15.26Z" fill="#3D9671")
            a.phone__link(href='tel: 88007873434') 8 800 787-34-34
          button.menu--burger
            span
            span
            span
    section.video
      .wrapper
        .video__inner
          video(loop='loop' muted='' autoplay='autoplay' preload='auto')
            source(src='assets/video/video.mp4')
          .video__text
            .video__title
              span
                span Аудит
                |  информационной
              br
              span безопасности
            .video__content
              | Комплексный подход при оказании услуг позволяет
              br
              |  избавить наших клиентов, среди которых крупнейшие
              br
              |  международные компании, от вопросов, связанных
              br
              |  с информационной безопасностью.
            button.btn.btn-green.video__btn_green.show-safety-modal Подробнее
    section.about
      .inner
        .about__inner
          .about__header
            span.title О нас
            h2
              | Комплексный подход
              br
              |  к 
              span
                | безопасности
                br
                |  в интернете
          .about__text
            p
              | Создание узконоправленной компании которая занимаеться только аудитом информационной безопасности,  это в некотором роде тестирование на проникновение с пост оплатой, клиент не платит если мы не находим опасных уязвимостей,  эти уязвимости можно разделить на технические и человеческие (за которые компания аудитор отвественности не несет) в большом проценте случаев проникновение осуществеляеться с использованием социальной инженерии, обман сотрудника компании bad usd и и.т.д. Этот человеческий фактор может произойти даже в очень хорошо технически защищенной компании.
            p
              | Компания орентируеться на Российских юридических лиц, а так же компании дружественных Российской федерации стран, но нашим приорететом являеться отечественный продукт, в дальнейшем разработка отечественной SIEM системы вроде
            ul.numbers
              li.numbers__item
                span 1972
                p.numbers__item-info
                  | Сервисов
                  br
                  |  проверено
              li.numbers__item
                span 10 000
                p.numbers__item-info
                  | Строк вредительского
                  br
                  |  кода удалено
              li.numbers__item
                span 350
                p.numbers__item-info Клиентов
              li.numbers__item
                span 8 000
                p.numbers__item-info
                  | Брешей
                  br
                  |  безопасности 
                  br
                  |  обнаружено
    section.services
      .wrapper
        .services__inner
          span.title Услуги
          .services__content
            .services__item
              .services__item-inner
                h3
                  | Анализ защищенности <br> web-приложений
                  br
                  |  и сервисов
                p
                  | Независимая оценка безопасности web-приложения, которая позволяет получить полную информацию о найденных уязвимостях, возможных сценариях атак и рекомендации по их устранению.
                button.btn-green.services__item-btn.show-safety-modal Подробнее
    
            .services__item
              .services__item-inner
                h3 Тестирование <br> на проникновение <br>локальных сетей
                p
                  | Метод оценки безопасности компьютерных систем или сетей, направленный на получение объективной оценки уровня информационной безопасности, а именно обнаружение уязвимостей и слабых мест. Тест на проникновение позволяет понять эффективны ли применяемые средства защиты.
                button.btn-green.services__item-btn.show-safety-modal Подробнее
          form.form
            .form__text
              .form__title
                | У вас появились
                br
                |  вопросы?
              .form__desc
                | Отправьте нам свою заявку и наши
                br
                |  специалисты свяжутся с вами
                br
                |  в ближайшее время
            .form__inner
              .form__field
                input#sname(name="name", type='text' required='')
                label(for='sname') Ваше имя
              .form__field
                input#sphone(name="phone", type='text' required='')
                label(for='sphone') Номер телефона
              .form__field
                input#semail(name="email", type='email' required='')
                label(for='semail') Электронная почта
              .form__field
                button(type='submit').btn-green Отправить
                span Отправляя данные я даю согласие на их обработку
    section.certificate
      .inner
        .certificate__inner
          .certificate__title
            h2
              | Сертификаты
              |  и лицензии
          .modal__certificate.hide
            .modal__certificate-controls
                button.modal__certificate-btn_prev.prev
                  img(src="assets/images/arrow.svg", alt="")
                button.modal__certificate-btn_next.next
                  img(src="assets/images/arrow.svg", alt="")
            .modal__certificate-inner.modal-inner
          .certificate__slider
            .certificate__slider-inner
              .certificate__slide.for-modal-slide
                img(src="assets/images/sertificate-slide-1.png", alt="")
                p Лицензия на деятельность по технической защите конфиденциальной информации
              .certificate__slide.for-modal-slide
                img(src="assets/images/sertificate-slide-2.png", alt="")
                p Система сертификации средств защиты информации
              .certificate__slide.for-modal-slide
                img(src="assets/images/sertificate-slide-3.png", alt="")
                p Сертификат соответствия 2204
              .certificate__slide.for-modal-slide
                img(src="assets/images/sertificate-slide-1.png", alt="")
                p Лицензия на деятельность по технической защите конфиденциальной информации
              .certificate__slide.for-modal-slide
                img(src="assets/images/sertificate-slide-2.png", alt="")
                p Система сертификации средств защиты информации
              .certificate__slide.for-modal-slide
                img(src="assets/images/sertificate-slide-3.png", alt="")
                p Сертификат соответствия 2204
            .certificate__slider-controls
              button.certificate__slider-btn.certificate__slider-prev.prev
                img(src="assets/images/arrow.svg", alt="")
              button.certificate__slider-btn.certificate__slider-next.next
                img(src="assets/images/arrow.svg", alt="")
    section.partners
      .inner
        .partners__inner
          .partners__title
            h2
              | С нами
              |  сотрудничают
          .partners__list
            .partners__item
              img(src='assets/images/cooperate-1.jpg' alt='img')
            .partners__item
              img(src='assets/images/cooperate-2.jpg' alt='img')
            .partners__item
              img(src='assets/images/cooperate-3.jpg' alt='img')
            .partners__item
              img(src='assets/images/cooperate-4.jpg' alt='img')
            .partners__item
              img(src='assets/images/cooperate-5.jpg' alt='img')
            .partners__item
              img(src='assets/images/cooperate-6.jpg' alt='img')
            .partners__item
              img(src='assets/images/cooperate-7.jpg' alt='img')
            .partners__item
              img(src='assets/images/cooperate-8.jpg' alt='img')
    section.news
      .inner
        .news__inner
          .news__header
            .news__title
              h2 Новости
            .news__controls
                button.news__slider-btn.news__slider-prev.prev
                  img(src="assets/images/arrow.svg", alt="")
                button.news__slider-btn.news__slider-next.next
                  img(src="assets/images/arrow.svg", alt="")
      .news__slider
        .news__slider-inner
          .news__slide
            img(src="assets/images/news-1.png", alt="")
            p Аналитик указал на падение DOGE вопреки поддержке Илона Маска
          .news__slide
            img(src="assets/images/news-2.png", alt="")
            p Прогноз цены на золото. Пришло ли время закупаться
          .news__slide
            img(src="assets/images/news-3.png", alt="")
            p Эксперт назвал условия для ралли DOGE
          .news__slide
            img(src="assets/images/news-4.png", alt="")
            p Эксперт назвал критический уровень поддержки для эфириума
          .news__slide
            img(src="assets/images/news-2.png", alt="")
            p Прогноз цены на золото. Пришло ли время закупаться
    section.contact
      .wrapper
        form.form
          .form__text
            .form__title Связаться с нами
            .form__desc Отправьте нам свои контакты и мы вам <br>позвоним в течении 15 минут
          .form__inner
            .form__field
              input#sname(name="name", type='text' required='')
              label(for='sname') Ваше имя
            .form__field
              input#sphone(name="phone", type='text' required='')
              label(for='sphone') Номер телефона
            .form__field
              input#semail(name="email", type='email' required='')
              label(for='semail') Электронная почта
            .form__field
              button(type='submit').btn-green Отправить
              span Отправляя данные я даю согласие на их обработку
    section.map
      .map__wrapper
        .map__map
         <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8ca80807144de97167aa90e5a7adfe7f7c0812da2411b567b85fc41ff37a3c4b&amp;source=constructor" width="100%" height="537" frameborder="0"></iframe>
        .map__info
          .map__info-inner
            h3.map__info-pretitle Как с нами связаться
            h2.map__info-title Контакты
            .map__info-select
              select#map-select
                option Название отдела
                option Название отдела
                option Название отдела
                option Название отдела
            .map__contact
              div
                h4 Адрес
                div
                  svg(viewBox="0 0 16 20")
                    path(d="M8 10C9.1 10 10 9.1 10 8C10 6.9 9.1 6 8 6C6.9 6 6 6.9 6 8C6 9.1 6.9 10 8 10ZM8 0C12.2 0 16 3.22 16 8.2C16 11.38 13.55 15.12 8.66 19.43C8.28 19.76 7.71 19.76 7.33 19.43C2.45 15.12 0 11.38 0 8.2C0 3.22 3.8 0 8 0Z" fill="#232E23")
                  p 057642, Москва <br> Староконюшенный переулок, 61
              div
                h4 Телефон
                div
                  svg(viewBox="0 0 24 24")
                    path(d="M19.23 15.26L16.69 14.97C16.08 14.9 15.48 15.11 15.05 15.54L13.21 17.38C10.38 15.94 8.06004 13.63 6.62004 10.79L8.47004 8.94001C8.90004 8.51001 9.11004 7.91001 9.04004 7.30001L8.75004 4.78001C8.63004 3.77001 7.78004 3.01001 6.76004 3.01001H5.03004C3.90004 3.01001 2.96004 3.95001 3.03004 5.08001C3.56004 13.62 10.39 20.44 18.92 20.97C20.05 21.04 20.99 20.1 20.99 18.97V17.24C21 16.23 20.24 15.38 19.23 15.26Z" fill="#3D9671")
                  p 8 800 787-34-34
              div
                h4 Электронная почта
                div
                  svg(viewBox="0 0 20 16")
                    path(d="M18 0H2C0.9 0 0 0.9 0 2V14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM17.6 4.25L11.06 8.34C10.41 8.75 9.59 8.75 8.94 8.34L2.4 4.25C2.15 4.09 2 3.82 2 3.53C2 2.86 2.73 2.46 3.3 2.81L10 7L16.7 2.81C17.27 2.46 18 2.86 18 3.53C18 3.82 17.85 4.09 17.6 4.25Z" fill="#232E23")
                  p information@citra.ru
    footer.footer
      .inner
        .footer__inner
          .footer__text
            h3.footer__title ООО «Цитра», 2022
            p.footer__sub-title Лицензия ФСТЭК ТКЗИ №12312331
          .footer__partners
            span Работает на
            .footer__partners-block
              div
                img(src='assets/images/bitrix.png' alt='img')
              div
                a.powered(href="https://webmedia39.ru/")
                  img(src='assets/images/webmedia.png' alt='img')
script(src="js/pages/index/index.js")