@font-face {
  font-family: 'TTCommons';
  src: url('../assets/fonts/TTCommons-Regular.eot');
  src: local('TT Commons Regular'), local('TTCommons-Regular'),
  url('../assets/fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/TTCommons-Regular.woff2') format('woff2'),
  url('../assets/fonts/TTCommons-Regular.woff') format('woff'),
  url('../assets/fonts/TTCommons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TTCommons';
  src: url('../assets/fonts/TTCommons-SemiBold.eot');
  src: local('TT Commons DemiBold'), local('TTCommons-DemiBold'),
  url('../assets/fonts/TTCommons-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/TTCommons-SemiBold.woff2') format('woff2'),
  url('../assets/fonts/TTCommons-SemiBold.woff') format('woff'),
  url('../assets/fonts/TTCommons-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TTCommons';
  src: url('../assets/fonts/TTCommons-Light.eot');
  src: local('TT Commons Light'), local('TTCommons-Light'),
  url('../assets/fonts/TTCommons-Light.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/TTCommons-Light.woff2') format('woff2'),
  url('../assets/fonts/TTCommons-Light.woff') format('woff'),
  url('../assets/fonts/TTCommons-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'TTCommons';
  src: url('../assets/fonts/TTCommons-Medium.eot');
  src: local('TT Commons Medium'), local('TTCommons-Medium'),
  url('../assets/fonts/TTCommons-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/TTCommons-Medium.woff2') format('woff2'),
  url('../assets/fonts/TTCommons-Medium.woff') format('woff'),
  url('../assets/fonts/TTCommons-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'TTCommons';
}
*{
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}